.login{
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    height: 100vh;
    padding-inline: 32px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-container {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    width: 40%;
    max-width: 500px;
  }
  
  .login-container form {
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .login-container {
      width: 100%;
    }
  }