.feed {
  display: flex;
  height: 100%;
}

.feed-main {
  width: 60%;
  max-width: 900px;
  justify-self: center;
  margin: 0 auto;
}

.feed-main-header {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  background-color: var(--cor-primaria);
}

@media (max-width: 1100px) {
  .feed-main {
    width: 100%;
  }

  .feed-main-header {
    width: 100%;
  }
}

.feed-main-posts {
  display: flex;
  flex-direction: column;
  padding-inline: 24px;
  gap: 12px;
  padding-top: 120px;

  border: solid 2px #8080805f;
  padding-bottom: 2rem;
  border-radius: 20px;
}