.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cor-primaria);
    position: relative;
  }
  
  .search__container {
    width: 50%;
    height: 100vh;
    border-left: 1px solid var(--cor-secundaria);
    border-right: 1px solid var(--cor-secundaria);
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }
  
  .search__title {
    text-align: left;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    margin-top: 0;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--cor-terciaria);
    width: 60%;
  }
  
  .search__bar {
    position: absolute;
    top: 10%; 
    right: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .lupa-icon {
    width: 20px; 
    height: 20px;
  }
  