.category-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 24px;
  border-radius: 10px;
  background-color: #9C25E1;
}

.category-span {
  font-weight: 500;
  color: var(--cor-secundaria);
}