@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --cor-primaria: #0E1133;
    --cor-secundaria:#ffffff;
    --cor-terciaria: #E1A225;
    --cor-hover: #45486e;

    --fonte-primaria: "JetBrains Mono", monospace;
    --fonte-secundaria: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
}

.home {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    gap: 15px;
    padding: 0 15%;
}

.home__h1 {
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
}

.home__p {
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    text-align: center; 
    line-height: 1.2; 
    max-width: 600px; 
    margin: 0 auto; 
}

.home__btn__c {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid;
    border-color: var(--cor-terciaria);
    padding: 10px;
    cursor: pointer;
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    font-size: 20px;
    font-weight: bold; 
    gap: 10px;
    text-align: center; 
}

.home__btn__e {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid;
    border-color: var(--cor-secundaria);
    padding: 10px;
    cursor: pointer;
    background-color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    font-size: 20px; 
    gap: 10px;
    text-align: center; 
}
