.signup {
  color: var(--cor-secundaria);
  font-family: var(--fonte-primaria);
  height: 100vh;
  padding-inline: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-container {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  width: 40%;
  max-width: 500px;
}

.signup-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.signup-container form button {
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .signup-container {
    width: 100%;
  }
}